.containerGeralProducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, auto));
    justify-content: center;
    align-items: center;
    width: 100%;

    @include device(mobile) {
      margin: 0 42px;
    }
  
}