.containerCardProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 420px;
  margin: 28px auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .15);
  border-radius: 4px;
  background-color: whitesmoke;
  @include device(smallPc) {
    margin: 28px auto;
  }
  @include device(mobile) {
    width: 300px;
  }

  .containerCardImageProduct {
    max-width: 420px;

    @include device(tablet) {
      max-width: 350px;
    }

    @include device(mobile) {
      max-width: 300px;
    }

    img {
      background-position: center;
      border-radius: 4px;
      max-height: 250px;

      @include device(smallPc) {
        max-height: 400px;
      }
      @include device(mobile) {
        max-width: 300px;
      }
    }
  }

  .containerCardInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px;
    width: 94%;
    @include device(smallPc) {

    }

    .productName {
      font-size: 1.25rem;
      
    }

    .productPrice {
      font-size: 1rem;
      font-weight: bold;
      color: green;
    }
  }

  .containerDescriptionAndCart {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-bottom: 42px;
    position: relative;

    
    .productDescription {
      max-width: 40ch;
      word-wrap: break-word;
      padding: 3px 12px;
      color: gray;
    }
  
    .cartButton {
      appearance: none;
      border: none;
      background-color: transparent;
      position: absolute;
      bottom: 12px;
      right: 0;
      cursor: pointer;
    }
  }


}